<!-- <% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body> -->
  <% if logged_in? %>
    <%= render 'static_pages/loggedin_home' %>
  <% else %>
    <%= render 'static_pages/not_loggedin_home' %>
<%#= img tag("kitten.jpg", alt: "Kitten") %>
<% end %>
<!-- </body>
</html> -->
